code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #ffffff; /* Default background color */
}

